<div>
  <input [(ngModel)]="searchTerm" placeholder="Поиск по имени..." />

  <table>
    <thead>
    <tr>
      <th>Наименование</th>
      <th>Пароль</th>
      <th>Дата записи</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let entry of filteredPasswords" (click)="toggleVisibility(entry)">
      <td>{{ entry.name }}</td>
      <td>{{ entry.isVisible ? entry.password : '******' }}</td>
      <td>{{ entry.date | date }}</td>
    </tr>
    </tbody>
  </table>
</div>

<button (click)="openModal()">Добавить запись</button>

<app-password-modal (refresh)="loadPasswords()"></app-password-modal>

