<div *ngIf="showModal">
  <div class="backdrop" (click)="closeModal()"></div>
  <div class="modal">
    <h2 mat-dialog-title>Добавить новую запись</h2>
    <form [formGroup]="passwordForm" (ngSubmit)="savePassword()">
      <mat-form-field appearance="fill">
        <mat-label>Наименование</mat-label>
        <input matInput id="name" formControlName="name" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Пароль</mat-label>
        <input matInput id="password" type="password" formControlName="password" />
      </mat-form-field>

      <div class="form-group">
      <label>Тип записи:</label>
      <mat-radio-group formControlName="type">
        <mat-radio-button value="Website">Сайт</mat-radio-button>
        <mat-radio-button value="Email">Электронная почта</mat-radio-button>
      </mat-radio-group>
      </div>

      <div class="actions">
        <button mat-raised-button color="primary" type="submit" [disabled]="!passwordForm.valid">Сохранить</button>
        <button mat-button type="button" (click)="closeModal()">Отмена</button>
      </div>
    </form>
  </div>
</div>
