<div *ngIf="showModal" class="modal">
  <div class="modal-content">
    <h2>Добавить новую запись</h2>
    <form [formGroup]="passwordForm" (ngSubmit)="savePassword()">
      <label for="name">Наименование:</label>
      <input id="name" formControlName="name" />

      <label for="password">Пароль:</label>
      <input id="password" type="password" formControlName="password" />

      <label for="type">Тип записи:</label>
      <div>
        <input type="radio" id="site" value="site" formControlName="type" /> Сайт
        <input type="radio" id="email" value="email" formControlName="type" /> Электронная почта
      </div>

      <button type="submit" [disabled]="!passwordForm.valid">Сохранить</button>
      <button type="button" (click)="closeModal()">Отмена</button>
    </form>
  </div>
</div>
